<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

<script>
$(document).ready(function(){
    $.get("http://localhost:9292/thermostat", function(data) {
    $(".data").text(data.temp);
  });
})

</script>


<p class="data">OK</p>
